*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

/* ----------------- Titulo ----------------- */
.neonBody{
  display: flex;
  justify-content:center;
  align-items: center;
  
  background-color: #000000;
}

.cont-Box{
  position: relative;
  width:1000px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0d0c0c;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
  height: 400px;
  margin-top: 50px;
}

.cont-Box::before{
  content: '';
  position: absolute;
  width: 150px; 
  height: 300%;
  background: linear-gradient(#ffcccc,#ff9999,#ff6666,#ff0000,#d24242,	#ff0062,#bd2f42);
  animation: animate 3s linear infinite;
}
.cont-Box::after{
  content: '';
  position: absolute;
  inset: 10px; /*tamano de la linea*/
  background-color: #000000;
  border-radius: 16px;
}

.cont-Box h2{ 
  position: relative;
  color: aliceblue;
  font-size: 7em;
  z-index: 10;
  text-transform:uppercase ;
  letter-spacing: 4px;
  text-align: center;
  color: rgb(251, 251, 251);
  text-shadow: 
  0 0 5px #5f0c0c ,
    0 0 25px 	#821717,
    0 0 50px #ff0000,
    0 0 100px #e28e8e;
}

/* ----------------- Boton Play ----------------- */
.Button{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 3em;
  z-index: 20;
  margin-left: 10px;
}

/* ----------------- animaciones ----------------- */
@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}