/* ----------------- Contenedor de cada uno  ----------------- */
.contPadre {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
}

.contPrincipal {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* ---- Color del contenedor --- */
.contProps {
    border: 1px solid rgb(255, 255, 255);
    width: 1170px;
    height: 368px;
    margin: 40px 10px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#000000;
    box-shadow: inset 
    0 0 5px #9d0707,
    0 0 10px #ad3232,
    0 0 25px  #cc7f7f;
}

/* ----------------- Estilo de imagen ----------------- */
.imagen {
    height: 100%;
    width: auto;

}

/* ----------------- Estilo de la informacion ----------------- */
.contenedortexto {
    text-align: center;
    padding: 40px;
    font-weight: 400;
    line-height: 1.5rem;

}


.name {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#ffffff;
    text-shadow: 
    0 0 80px  	#c50a0a, 
    0 0 50px 	#ad3232,
    0 0 20px #cc7f7f    ,
    0 0 10px #6b0000;

}


.genero {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#ffffff;
    text-shadow: 
    0 0 80px  	#c50a0a, 
    0 0 50px 	#ad3232,
    0 0 20px #cc7f7f    ,
    0 0 10px #6b0000;
}

.descripcion-actores {
    font-size: 1.1rem;
    text-align: justify;
    cursor: pointer;
    transition: 1s;


}
.descripcion-actores:hover{
    
    color:rgb(255, 255, 255);
    text-shadow: 
    0 0 80px  	#c50a0a, 
    0 0 50px 	#ad3232,
    0 0 20px #cc7f7f    ,
    0 0 10px #6b0000;

}

a{
    font-size: 0.8rem;
    text-align: justify;
    cursor: pointer;
    transition: 1s;
    color: #cc7f7f;
    background-color: transparent;
}
a:hover{
    
    color:white;
    text-shadow: 
    0 0 80px  	#c50a0a, 
    0 0 50px 	#ad3232,
    0 0 20px #cc7f7f    ,
    0 0 10px #6b0000;
}

